.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 25px;
  padding: 25px;
}

light-mode {
  background-color: #ffffff;
  border: solid 1px #000000;
  border-radius: 8px;
  color: #000000;
}

.dark-mode {
  background-color: #000000;
  border: none;
  color: #ffffff;
}

.heading {
  font-family: 'Roboto';
  font-size: 26px;
  text-align: center;
}

.button {
  height: 50px;
  width: 120px;
  font-family: 'Roboto';
  font-size: 16px;
  padding: 16px;
  border: none;
  border-radius: 8px;
}
